<div class="Footer-container">
    <MudSpacer />
    <MudDivider />
    <MudPaper Class="d-flex justify-center pa-4 Footer-paper" Elevation="0" Square="true">
        <MudText Typo="Typo.caption" Color="Color.Secondary">
            © @DateTime.Now.Year | @StaticLocalization.AllRightsReserved
        </MudText>
    </MudPaper>
</div>