@page "/"

<PageTitle>@StaticLocalization.Home</PageTitle>

<h1 class="ms-5">@StaticLocalization.NetBlazeSolutionTemplate</h1>

<p class="ms-5">
    For a quick trip, see <a href="/sample">Sample Management</a>.
</p>